<p>
I'm LAURENCE HUGHES, Acting Chairman of the Club. We are a long-established club, having been founded way back in 1923. During the whole of that time, we have been situated at our present location, with delightful far-reaching views over the adjacent cricket club ground to the North Downs.

More history?
It is very much a members' Club, with a nice, friendly atmosphere. Almost everyone takes some active part in the running of the Club, from my hard-working Committee to those who water the lawns, help with teas, and generally do the million and one jobs to keep the club looking tidy and cared for.

For a small club, we have a well-supported range of activities. As well as the many competitions that we run throughout the season, we have numerous social events that are always well attended. These even extend to the winter months, to keep members in touch during the closed season.

On the playing side, we try to cater for players of all abilities, with special attention being given to beginners. The Club plays both Association and Golf Croquet with equal enthusiasm and in 2002 we organised a Jubilee event which attracted 30 Golf Croquet teams from all the local organisations and businesses.

It is very pleasing to see players improve steadily season by season as a result of this (except when they play me!). Our Club sides have also been very successful recently in the South East Federation leagues, winning the U-league in both 2001 and 2002 and the B-league in 2004 and 2006. In 2001 & 2003 the Club won the SECF Interclub Doubles Championship beating 17 other clubs. In 2004 we won the Southwick invitation event for the first time and in 2007 again won, this time with a record score of 14 wins out of 18 games. In 2008 we won the SECF Golf Handicap League for the first time. In 2010 we again won the SECF U-league and represented the South East in the national Secretary's Shield.

But, we must look into the future. We are aware that people, of all ages, are finding themselves with more leisure time at their disposal.
</p>