<p> 
	The Reigate Priory Croquet Club is near the centre of Reigate down Park Lane.

As you travel down the High Street (A25) towards Dorking, turn left at the traffic lights into Park Lane, the road forks shortly, and after taking the right-hand fork almost immediately turn right into the Cricket Ground. Park in the first parking area you reach - or if this is full carry on and park past the cricket pavillion.
The Croquet Club is round behind the building to your right of the first parking area.ju8
</p>