<h1>Club Calendar <%= Time.now.year %></h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Logo</th>
      <th>Title</th>
    </tr>
  </thead>
<tbody>
 <% @events.each do |event| %>
    <% if event.date.future? | event.date.today? %>
      <tr>
        <td><%= event.date %></td>
        <td><%= event.logo %></td>
        <td><%= event.title %></td>
  </tr>
        <% end %>
        <% end %>
  </tbody>
</table>


  